div {
    background-color: #A8D1D1;
    padding: 1rem;
}

.song {
    background-color: #FD848A;
    margin: 16px;
    padding: 16px;
}

li {
    list-style-type: none;
}

/*li:nth-child(odd) {*/
/*    font-weight: bold;*/
/*}*/

li>div:hover {
    background-color: #F1F785;
    font-weight: bold;
    font-size: 1.1rem;
}